/* <h2>Allah Is the Greatest</h2> */
body{
  background-color: #F2F7FF;
}
.dash h2{
  font-size: 1.4rem;
  color:#0E918C;
  font-weight: 700;
}
.applicant img{
  height: 90px;
  width: 90px;
  display: block;
  margin: auto;
}
.applicant .card{
  box-shadow: 2px 3px 5px rgba(14, 145, 140, 0.3);
  border-radius: 8px;
}

.applicant .card-body {
  text-align: center;
}
.applicant .card-body h5{
  color:#0E918C;
}
.applicant .card-body p{
  font-size: .8rem;
}

.case .card{
    box-shadow: 2px 3px 5px rgba(14, 145, 140, 0.3);
    border-radius: 8px;
}

.case h5{
  font-size: 1.2rem;
  font-weight: 700;
}
.case img{
  float: right;
}

.hearing h5{
  font-size: 1.2rem;
  font-weight: 700;
}
.hearing h2{
  font-size: 3.2rem;
  font-weight: 700;
}
.hearing img{
  float: right;
}
.hearing .card{
  box-shadow: 2px 3px 5px rgba(14, 145, 140, 0.3);
  border-radius: 8px;
}

span img{
  float: right; 
}
.bar img{
  display: block;
  margin: auto;
}
.revoke h5{
  font-size: 1.2rem;
  font-weight: 700;
}
.revoke h2{
  font-size: 2.2rem;
  font-weight: 700;
}

.revoke .card{
  box-shadow: 2px 3px 5px rgba(14, 145, 140, 0.3);
  border-radius: 8px;
}

































































/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
